.main{
    background-color: rgb(105, 197, 209);
    text-align: center;
    padding-top: 40px;
    }
#price{
    margin-top: 50px;
    padding: 50px;
    margin-bottom: 40px;
    border-radius: 100%;

}
